*{
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.d-flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.container{
    margin: auto;
    max-width: 1136px;
}


.button_1{
    width: 71px;
    height: 33px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #18181B;
    cursor: pointer;
    border: 1px solid #18181B;
    border-radius: 4px;
    padding: 9px 17px;
}